@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ----- Colours */

/* ----- Paddings, margins & text */
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

/* ----- Headings */
header {
    margin: 0;
    background-color: #f47f0b;
    font: Arial, Helvetica, sans-serif;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../cadi.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 450px; 
    max-width: 358px;    margin-left: 1%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 30px;
    color: #475150;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 90px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 90%;
    text-decoration: none;
    color: #fff;
    height: 90px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #475150;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* ----- Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100% !important;
}

/* ----- Footer */
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer h5 {
    color: #f47f06 !important;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #f47f06;
}

#footer-details {
    padding: 20px;
}

/* ----- Home Content */

.image-container {
    height: 75vh;
    background: url("../myibd.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left; 
    position: relative;
}

.home-section {
    font-family: Arial, Helvetica, sans-serif;
  /*  font-weight: 300;
    font-size: 76px;
    margin-top: 10px;*/
    color: #fff;
}
.content-container {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* ----- Web & App and Project Header */

/* ----- Web & App and Project 3 boxes */

.text-left {
    text-align: left;
    background-color: #47515080;
}

/* ----- Enquiry Form */

.subutton {
    background-color: #f47f06 !important;
}

.questioncolor {
    color: #f47f06 !important;
    background-color: #47515080;
}
